[Desktop Entry]
Encoding=UTF-8
Name=Swamp
Comment=Swamp P2P Cryptocurrency
Comment[fr]=Swamp, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Swamp, eşten eşe kriptografik sanal para birimi
Exec=swamp-qt %u
Terminal=false
Type=Application
Icon=swamp128
MimeType=x-scheme-handler/swamp;
Categories=Office;Finance;
