[Desktop Entry]
Encoding=UTF-8
Name=Veco
Comment=Veco P2P Cryptocurrency
Comment[fr]=Veco, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Veco, eşten eşe kriptografik sanal para birimi
Exec=veco-qt %u
Terminal=false
Type=Application
Icon=veco128
MimeType=x-scheme-handler/veco;
Categories=Office;Finance;
